{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Добавить продукт</h1>
</div>
<div class="col-12" align="center">
    <form method="post" action="" class="row" enctype="multipart/form-data">
        <div class="col-8" >
            <div class="card mb-4 box-shadow text-bg-dark">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Заполните следующие данные</h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit"
                            class="btn btn-lg btn-block btn-outline-warning mt-4">Сохранить
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-4 box-shadow text-bg-dark">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Версия</h4>
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}